.red {
    color:#ff0000
}

header{
    height: 50px;
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #947B89;
    width: 100%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px ;
}